.Navbar{
  background-color: #1616166a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3), 0 8px 12px 6px rgba(0, 0, 0, .15);
  padding: 15px 3%;
}
.logo{
width: 100px;
}
.movieItem {
  margin: 20px;
}
.title{
  color: #FFFF !important;
}
.description{
  color: #c5ce10 !important;
}